@use "../../styles/color.scss" as *;

.layout {
    height: 100dvh;
    overflow-y: auto;

    .content {
        margin-top: 68px;
        padding: 1.1rem;
        overflow-y: auto;
        max-height: calc(100dvh - 180px);
    }
}